.acerca-de {
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.acerca-de article{
    margin: 15px;
} 

.acerca-de__title {
    font-family: 'Pacifico', cursive;
    color: forestgreen;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.acerca-de__img {
    width: 100%;
    max-width: 280px;
    height: 180px;
    border-bottom: 50%;
}

.acerca-de__txt {
    padding: 10px;
}

